<a href="https://colab.research.google.com/github/DeathstrokeAJ/Python-Practical-/blob/main/Exp12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd


name = input("Enter names separated by comma: ").split(',')
age = list(map(int, input("Enter ages separated by comma: ").split(',')))
city = input("Enter cities separated by comma: ").split(',')

data = {'Name': name, 'Age': age, 'City': city}
df = pd.DataFrame(data)


profession = input("Enter professions separated by comma: ").split(',')
df['Profession'] = profession

df['Age'] = df['Age'] + 1


salary = list(map(int, input("Enter salaries separated by comma: ").split(',')))
df['Salary'] = salary
df['Salary'] = df['Salary'].fillna(df['Salary'].mean())

grouped = df.groupby('Profession')['Age'].mean()


df1_data = input("Enter data for df1 separated by comma: ").split(',')
df2_data = input("Enter data for df2 separated by comma: ").split(',')

df1 = pd.DataFrame({'A': df1_data[0:4], 'B': df1_data[4:8], 'C': df1_data[8:12], 'D': df1_data[12:16]}, index=[0, 1, 2, 3])
df2 = pd.DataFrame({'A': df2_data[0:4], 'B': df2_data[4:8], 'C': df2_data[8:12], 'D': df2_data[12:16]}, index=[4, 5, 6, 7])

result = pd.concat([df1, df2])